VITE_BASE_URL=http://localhost:5000
VITE_HUB_URL=http://localhost:5000/messagehub
VITE_PRESENCE_HUB_URL=http://localhost:5241/hubs/presence
VITE_LIVEKIT_URL=ws://localhost:7880
VITE_VOICE_SERVER_URL=http://localhost:5000
VITE_TENOR_API_KEY=
VITE_TENOR_CLIENT_KEY=
VITE_IMGBB_KEY=
VITE_VERSION_LINK=

